<div class="container">
<%= form_for :user, url: '/users' do |f| %>
  <br><br>
  <strong><%= f.label(:username, "Username:") %></strong>
  <%= f.text_field(:username, placeholder: "Required") %>
  <br><br>
  <strong><%= f.label(:email, "Email:") %></strong>
  <%= f.email_field(:email, placeholder: "ex@gmail.com") %>
  <br><br>
  <strong><%= f.label(:password, "Password:") %></strong>
  <%= f.password_field(:password, placeholder: "Minimum length 6") %>
  <br><br>
  <strong><%= f.label(:img, "Avatar image link: ") %></strong>
  <%= f.text_field(:img, placeholder: "(Optional)") %>
  <br><br>
  <strong><%= f.label(:about, "About: ") %></strong>
  <%= f.text_field(:about, placeholder: "(Optional)") %>
  <br><br>

  <%= f.submit("Submit") %>
  <br><br>
<% end %>
</div>