<!DOCTYPE html>
<html>
  <head>
    <title>Battlechat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body data-login="<%= logged_in? %>">

  <div class="navbar">
        <% if current_user %>
          <a href="/battlechat"><img src="/images/logo.png" alt="Battlechat_logo" id="logo"></a>
        <% else %>
          <a href="/"><img src="/images/logo.png" alt="Battlechat_logo" id="logo"></a>
        <% end %>
          <div class="right">
            <% if current_user %>
              <strong><h5>
                Welcome <a href="/users/<%= current_user['id'] %>"><%= current_user['username'] %></a>!
                <a id="logout" class="nav-btn" href="/logout"><button>Logout</button></a>
              </h5></strong>
            <% else %>
              <a href="/users/new"><button id="signUp" class="nav-btn">Sign Up!</button></a>
              <button id="myBtn" class="nav-btn">Sign-In</button>
            <% end %>
          </div>
  </div>

  <div class="container" style="border:none; margin: 5px auto;">
   <% flash.each do |key, value| %>
  <div style="border:none; padding: 5px;" class="alert alert-info">
   <a href="#" data-dismiss="alert" class="close">X</a>
     <ul  style="list-style: none;">
       <li style="list-style: none; padding: 10px;">
       <strong><%= value %></strong>
        </li>
       </ul>
  </div>
  <% end %>
  </div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Login</h2>
    </div>
    <div class="modal-body">
      <%= form_for :user, url: '/login' do |f| %>

        <%= f.label(:email, "Email:") %>
        <%= f.text_field(:email) %>
        <br>
        <%= f.label(:password, "Password:") %>
        <%= f.password_field(:password) %>
        <br>
        <%= f.submit("Submit") %>
      <% end %>
    </div>
  </div>

</div>

    <%= yield %>
  </body>

</html>
