<!DOCTYPE html>
<html>
  <head>
    <title>Battlechat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body data-login="<%= logged_in? %>">

  <div class="navbar">
        <% if current_user %>
          <a href="/battlechat">Battlechat</a>
        <% else %>
          <a href="/">Battlechat</a>
        <% end %>
          <div class="right">
            <% if current_user %>
              <h5>
                Welcome <a href="/users/<%= current_user['id'] %>"><%= current_user['name'] %></a>!
                <a id="logout" href="/logout">Logout</a>
              </h5>
            <% else %>
              <a href="/users/new">
                Sign Up!
              </a><span>|</span>
              <button id="myBtn">Sign-In</button>
            <% end %>
          </div>
  </div>

  <div class="container" style="margin-left: 0; ">
   <% flash.each do |key, value| %>
  <div style="margin-right: 26px; " class="alert alert-info">
   <a href="#" data-dismiss="alert" class="close">X</a>
     <ul  style="list-style: none ;">
       <li style= "list_style: none;">
       <%= value %>
        </li>
       </ul>
  </div>
  <% end %>
  </div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Login</h2>
    </div>
    <div class="modal-body">
      <%= form_for :user, url: '/login' do |f| %>

        <%= f.label(:email, "Email:") %>
        <%= f.text_field(:email) %>

        <%= f.label(:password, "Password:") %>
        <%= f.text_field(:password) %>

        <%= f.submit("Submit") %>
      <% end %>
    </div>
  </div>

</div>

    <%= yield %>
  </body>

</html>
